nav {
    background: var(--color-font);
    width: max-content;
    display: block;
    padding: 0.7rem, 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    font-size: 1.1rem;
    border: 1px solid;
    border-color: var(--color-bg-varient);
}

nav a {
    background: var(--color-font);
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    color: var(--color-bg-varient);
}

/* ========================== MEDIA QUERIES (SMALL DEVICES) ========================== */

@media screen and (max-width: 600px) {
    nav a {
        padding: 1.7rem;
    }
}
